.cell {
    float: left;
    position: relative;
    width: 33.33333%;
}

.cell_bg {
    display: block;
    height: 100%;
    width: 100%;
}

.cell_value {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: 0.5;
    //transform: translate3d(0, 0, 0);
    position: absolute;
    top: 0;
    width: 100%;
}
