.cell {
    float: left;
    position: relative;
    width: 33.33333%;
}

.cell_bg {
    display: block;
    height: 100%;
    width: 100%;
}

.cell_value {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
