@import './../../../css/service';

.wrapper {
    @extend %clear-full;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.field {
    box-sizing: border-box;
    max-width: 512px;
    min-width: 320px;
    padding: 10px;
    width: 50%;
}
