//

.cell {
    float: left;
    height: 20px;
    text-align: center;
    width: 33.33333%;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.field {
    background-color: #0c0;
    max-width: 512px;
    min-width: 320px;
    width: 50%;
}
