//

.cell {
    float: left;
    height: 20px;
    text-align: center;
    width: 33.33333%;
}

.start_button_wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
